SERVER_NAME=Dodian
SERVER_PORT=43594
SERVER_DEBUG_MODE=false
SERVER_ENVIRONMENT=prod
DODIAN_LOG_LEVEL=info

WEB_API_ENABLED=true
WEB_API_PORT=8080

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=Server
DATABASE_TABLE_PREFIX=
DATABASE_USERNAME=dodian
DATABASE_PASSWORD=change_me
DATABASE_INITIALIZE=false
DATABASE_POOL_MIN_SIZE=10
DATABASE_POOL_MAX_SIZE=40
DATABASE_POOL_CONNECTION_TIMEOUT=30000
DATABASE_POOL_IDLE_TIMEOUT=600000
DATABASE_POOL_MAX_LIFETIME=1800000

CLIENT_CUSTOM_VERSION=1543456788

GAME_WORLD_ID=1
GAME_MULTIPLIER_GLOBAL_XP=1
GAME_CONNECTIONS_PER_IP=2
