<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd H:mm:ss}] %highlight{%p: %msg} &lt;- %C{1}::%M()%n" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef level="all" ref="Console"/>
        </Root>
        <Logger name="io.netty" level="info" additivity="false"/>
        <Logger name="org.pf4j" level="info" additivity="false"/>
        <Logger name="net.dodian" level="debug" additivity="true"/>
    </Loggers>
</Configuration>